.site-footer {
    min-height: 200px;
    background-color: $sub-color-01;
    color: #fff;
    margin-top: 40px;
    padding: 40px 20px 0 20px;

    img {
        width: 180px;
    }

    .col > .in {
        min-height: 100px;
        position: relative;
    }

    .snippet {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}