.site-header {
	@extend .clearfix;
	padding: 0 4%;
	background-color: $main-color-01;
}

.sitelogo {
	text-align: center;
	font-size: 3.75rem;
	line-height: 1;
	color: $white;
	font-weight: normal;

	.minimized & {
		font-size: 1rem;
	}
}
