.hint {
    display: block;
    margin-bottom: $gutter;
    padding: $gutter;
   
    &.error {
    	background: $errorcolor-01;
   		border: 1px solid $errorcolor-02;
    }

    strong {
        display: block;
        color: $white;
    }
}