.loginform {
	@extend .clearfix;
	@include center-x;
	display: block;
	margin-bottom: 0;
	padding: 40px 2rem;
	text-align: center;
	background: $main-color-01;

	.btn {
		float: right;
		margin-top: 20px;

		@include respond-to(ipad-landscape) {
			float: none;
			width: 10%;
			height: 56px;
			margin-top: 0;
		}
	}

	.label-username,
	.label-password,
	.label-host {
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;

		@include respond-to(ipad-landscape) {
			width: 20%;
			margin: 0 1%;
		}
	}

	.textinput-username,
	.passwordinput,
	.textinput-host {
		width: 100%;
		height: 56px;
		font-size: 1.375rem;
		line-height: 1.81818;
	}

	@include placeholder {
		font-size: 1.375rem;
		line-height: 1.81818;
	}

	.label-host {
		@include respond-to(ipad-landscape) {
			width: 26%;
		}
	}
}


.at-seperator {
	display: inline-block;
	width: 3%;
	min-width: 40px;
	height: 30px;
	margin: 0 0.4% 10px;
	color: $white;
	font-size: 2rem;
	vertical-align: bottom;
	line-height: 1.1;
	font-weight: normal;

	@include respond-to(ipad-landscape) {
		height: 60px;
		margin-bottom: 0;
		line-height: 2.1;
	}
}