.sectionbox {
    width: 100%;
    max-width: ($gutter)*50;
    margin: 0 auto ($gutter)*2;
    background: $white;

    
    &.transparent {
        background: transparent;
    }

    .sectionheader {
        @extend .clearfix;
        padding: 0 $gutter;
        background-color: $main-color-01;
        color: $white;
    }

	.sectionbody {
		@extend .clearfix;
		padding: 0 $gutter;
	}

	&.sectionbox-info {
		padding: 10px;
		border: 1px solid rgba(0,0,0,.15);
	}
}

