.single-searchbar {
    @extend .clearfix;
    max-width: ($gutter)*40;
    margin: ($gutter)*3 auto;

    .textinput-query {
        width: 70%;
    }

    .btn {
        float: right;
        width: 26%;
    }
}