.single-searchbar {
    @extend .clearfix;
    max-width: ($gutter)*40;
    margin: 0 auto ($gutter)*3;

    .textinput-query {
        width: 70%;
    }

    .btn {
        float: right;
        width: 26%;
    }
}