<footer class="site-footer">
   <div class="row">
      <div class="col g-3of4">
         <div class="in">
            <img src="{{ app.request.basepath }}/img/logo_white.png" alt="">
         </div>
      </div>
      <div class="col g-1of4">
         <div class="in"></div>
      </div>
   </div>

</footer>