<header class="site-header logged-in">
	<div class="centerwrapper">
		<h1 class="sitelogo">{{ title }}</h1>

		<div class="logout-wrapper">
			<a href="#" class="btn btn-secondary btn-medium">logout</a>
			<h2>foo @ local.host : kafka</h2>
		</div>
	</div>
</header>