<header class="site-header logged-in">
	<div class="centerwrapper">
		<h1 class="sitelogo">{{ title }}</h1>

		<div class="logout-wrapper">
			<a href="logout.php" class="btn btn-secondary btn-medium">logout</a>
			<h2><a href="databases.php">{{ user }}@{{ host }}</a>
			{% if database %}:{{ database }}{% endif %}
			</h2>
		</div>
	</div>
</header>