<header class="site-header">
	<h1>{{ title }}</h1>

	<form class="loginform" action="#">
		<label for="textinput-username">
			<input type="text" name="textinput-username" id="textinput-username">
		</label>
		<strong>@</strong>
		<label for="textinput-host">
			<input type="text" name="textinput-host" id="textinput-host">
		</label>
		<label for="passwordinput">
			<input type="password" name="passwordinput" id="passwordinput">
		</label>
		<button class="btn">send</button>
	</form>
</header>