<header class="site-header">
	<h1 class="sitelogo">{{ title }}</h1>

	<form class="loginform" action="#">
		<label for="textinput-username" class="label-username">
			<input type="text" name="textinput-username" id="textinput-username" class="textinput-username" placeholder="Username">
		</label>
		<strong class="at-seperator">@</strong>
		<label for="textinput-host" class="label-host">
			<input type="text" name="textinput-host" id="textinput-host" class="textinput-host" placeholder="Host">
		</label>
		<label for="passwordinput" class="label-password">
			<input type="password" name="passwordinput" id="passwordinput" class="passwordinput" placeholder="Password">
		</label>
		<button class="btn">send</button>
	</form>
</header>