<header class="site-header logged-in">
	<div class="centerwrapper">
		<img src="img/adminflux_IconLogo-s.png" alt="logo" class="logo-small">
		<div class="logout-wrapper">
			<a href="logout.php" class="btn btn-secondary btn-medium">logout</a>
			<h2>{{ user }}@{{ host }}
			{% if database %}: <a href="databases.php" class="invertlink">{{ database }}</a>{% endif %}
			</h2>
		</div>
	</div>
</header>