{% extends "layout.twig" %}

{% block title %}
   InfluxDbViewer :: Select database
{% endblock %}

{% block header %}
    {% include "snippets/header-logged-in.twig" %}
{% endblock %}

{% block content %}
    <div class="sectionbox">
        <div class="sectionheader">
            <h2>Please select a database:</h2>
        </div>

        <div class="sectionbody">{% if databases %}
            <ul class="no-bullet zebralist">
                {% for database in databases %}
                    <li class="listitem">
                        <a href="databases.php?database={{ database|url_encode }}" class="celllink">
                            {{ database }}
                        </a>
                    </li>
                {% endfor %}
            </ul>{% else %}
                No databases found. Check your credentials and make sure that databases have been created.
            {% endif %}
        </div>
    </div>
{% endblock %}