{% extends "layout.twig" %}

{% block title %}
    InfluxDbViewer :: Login
{% endblock %}

{% block header %}
    {% include "snippets/header.twig" %}
{% endblock %}

{% block content %}
 <script language="javascript">
        function listPreviousLogins() {
            var last_logins = urldecode(readCookie("last_logins"));
           // document.write( "all : " + last_logins + "<br><br><br>");
            var show_max = 30;
            var commandlist = last_logins.split("|")
            var found = commandlist.length;
            for (i = found - 1; i >= found - show_max; i--) {
                // 
                if (commandlist[i] != undefined &&  commandlist[i] != "undefined")
                {
                 document.write("<li class='listitem'><a href=\"javascript:setLogin('" + commandlist[i] + "');\" class=\"celllink\">" + commandlist[i] + "</a></li>");
                }
            }
        }


        function setLogin(command) {
             var tokens =  command.split("@");
            document.getElementById("user").value = tokens[0];
            document.getElementById("host").value = tokens[1];
        }

        function urldecode(str) {
            return decodeURIComponent((str + '').replace(/\+/g, '%20'));
        }

        function readCookie(name) {
            name += '=';
            for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)
                if (!ca[i].indexOf(name))
                    return ca[i].replace(name, '');
        }
    </script>

    <form class="loginform" action="" method="post" id="loginform">
        <div class="centerwrapper">
            {% if error %}
                <div class="hint error">
                    <strong>{{ error }}</strong>
                </div>
            {% endif %}

            <label for="textinput-username" class="label-username">
                <input type="text" name="user" value="{{ user }}" id="user" class="textinput-username"
                       placeholder="username">
            </label>
            <strong class="separator at">@</strong>
            <label for="textinput-host" class="label-host">
                <input type="text" name="host" value="{{ host }}" id="host" class="textinput-host"
                       placeholder="localhost">
            </label>
            <strong class="separator port">:8086</strong>
            <label for="passwordinput" class="label-password">
                <input type="password" name="pw" value="" id="pw" class="passwordinput" placeholder="password">
            </label>
            <input type="submit" class="btn btn-secondary" value="Submit">
        </div>
    </form>

    <section class="sectionbox prev-logins">
        <div class="sectionheader">
            <h2>Previous Logins</h2>
        </div>

        <div class="sectionbody">

            <!-- replace this static list with the real data! -->
            <ul class="no-bullet zebralist">
                <script language="javascript">listPreviousLogins();</script>
            </ul>
        </div>
    </section>

   
{% endblock content %}



