<header class="site-header logged-in">

	<nav id="js_menu" class="disabled" style="position:absolute;top:20px;left:20px;">
        <header>
            <h3>menu</h3>
        </header>
        <section class="menuside-content">
         <a href="query.php">Run query</a><br />
         <a href="annotation.php">Add annotation</a>
         </section>           
    </nav>

	<div class="centerwrapper">
		<img src="img/adminflux_IconLogo-s.png" alt="logo" class="logo-small">
		<div class="logout-wrapper">
			<a href="logout.php" class="btn btn-secondary btn-medium">logout</a>
			<h2>{{ user }}@{{ host }}
			{% if database %}: <a href="databases.php" class="invertlink">{{ database }}</a>{% endif %}
			</h2>
		</div>
	</div>
</header>