{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header class="site-header">
        <h1>{{ title }}</h1>
    </header>
{% endblock %}

{% block content %}
    <h1>Please select a database:</h1>
    

    <ul>
        {% for database in databases %}
            <li><a href="databases.php?database={{ database|url_encode }}">{{ database }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}