{% extends "layout.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	{% include "snippets/header-logged-in.twig" %}
{% endblock %}

{% block content %}

	<form class="loginform" action="" method="post" id="loginform">
		{{ error }}
		<label for="textinput-username" class="label-username">
			<input type="text" name="user" value="{{ user }}" id="user" class="textinput-username" placeholder="Username">
		</label>
		<strong class="at-seperator">@</strong>
		<label for="textinput-host" class="label-host">
			<input type="text" name="host" value="{{ host }}" id="host" class="textinput-host" placeholder="localhost">
		</label>
		<label for="passwordinput" class="label-password">
			<input type="password" name="pw" value="" id="pw" class="passwordinput" placeholder="Password">
		</label>
		<input type="submit" class="btn btn-secondary">
	</form>

	<section class="sectionbox prev-logins">
		<div class="sectionheader">
			<h2>Previous Logins</h2>
		</div>

		<div class="sectionbody">

			<!-- replace this static list with the real data! -->
			<ul class="prev-logins-list">
				<li><a href="#">Lorem ipsum.</a></li>
				<li><a href="#">Excepturi, itaque.</a></li>
				<li><a href="#">Expedita, sunt.</a></li>
				<li><a href="#">Architecto, vel.</a></li>
				<li><a href="#">Optio, vero!</a></li>
				<li><a href="#">Fuga, quos.</a></li>
				<li><a href="#">Odio, repellat.</a></li>
				<li><a href="#">Fugit, quibusdam.</a></li>
				<li><a href="#">Delectus, minus.</a></li>
				<li><a href="#">Amet, aperiam.</a></li>
				<li><a href="#">Ipsa, quos.</a></li>
				<li><a href="#">Beatae, ipsum.</a></li>
			</ul>

	<script language="javascript">

	listPreviousLogins();




	function readCookie(name) {
	name += '=';
	for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)
		if (!ca[i].indexOf(name))
			return ca[i].replace(name, '');
	}

/**
	function saveCredentials(){
		var loginForm = document.getElementByID("loginform");
		var saveMe = loginForm.user + "@" + loginForm.host;
		var oldValue = readCookie("last_logins");
		var newValue = oldValue + "|" + saveMe;
		saveCookie("last_logins", newValue);
	}

	function saveCookie(key, value){
	// TODO remove this and form event because we moved it to the php side
	} */

	function listPreviousLogins(){
	var last_logins = readCookie("last_logins");
	for (var logins = last_logins.split("|"), i = logins.length -1; i >= 0; i--){
		document.write(logins + "<br>");
	}}

	</script>
		</div>
	</section>
	<!-- kay: end of content -->

{% endblock %}

