{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "snippets/header.twig" %}
{% endblock %}

{% block content %}

    <form action="login" method="post">
        {{ error }}
        <input type="text" name="user" value="{{ user }}" />
        @
        <input type="text" name="host" value="{{ host }}" />
        <input type="password" name="pw" value="" />
        <input type="submit" />
    </form>
{% endblock %}

