{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "snippets/header.twig" %}
{% endblock %}

{% block content %}

    <form action="login" method="post" id="loginform">
        {{ error }}
        <input type="text" name="user" value="{{ user }}" />
        @
        <input type="text" name="host" value="{{ host }}" />
        <input type="password" name="pw" value="" />
        <input type="submit" />
    </form>
    <script language="javascript">

    listPreviousLogins();





    function readCookie(name) {
    name += '=';
    for (var ca = document.cookie.split(/;\s*/), i = ca.length - 1; i >= 0; i--)
        if (!ca[i].indexOf(name))
            return ca[i].replace(name, '');
    }

/**
    function saveCredentials(){
        var loginForm = document.getElementByID("loginform");
        var saveMe = loginForm.user + "@" + loginForm.host;
        var oldValue = readCookie("last_logins");
        var newValue = oldValue + "|" + saveMe;
        saveCookie("last_logins", newValue);
    }

    function saveCookie(key, value){
    // TODO remove this and form event because we moved it to the php side
    } *//

    function listPreviousLogins(){
    var last_logins = readCookie("last_logins");
    for (var logins = last_logins.split("|"), i = logins.length -1; i >= 0; i--){
        document.write(logins + "<br>");
    }}

    </script>
{% endblock %}

