{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header class="site-header">
        <h1>{{ title }}</h1>
    </header>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quibusdam numquam laudantium eum asperiores non libero odio quae debitis beatae perferendis eius esse molestiae voluptatum vel inventore quasi. Quo sint sequi sunt amet sapiente tempora autem iusto praesentium rerum ducimus.</p>

    <p>{{ query }}</p>

{% endblock %}

{% block maincontent %}
    <section class="main-content">
        <aside id="js_sidebar">
            <header>
                <h3>last tools</h3>
            </header>
            <section class="aside-content">
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>dolor</li>
                </ul>
            </section>
            <!-- -->
        </aside>
    </section>
{% endblock %}